.component {
	background-color: #ffffff;
	border: 1px solid;
	border-color: #3b82f6;
	border-radius: 16px;
	height: 228px;
	position: relative;
	width: 357px;
}

.component .group {
	height: 24px;
	left: 19px;
	position: absolute;
	top: 16px;
	width: 103px;
}

.component .overlap-group {
	height: 26px;
	left: -1px;
	position: relative;
	top: -1px;
	width: 102px;
	background-image: url(./asset/Rectangle.png);
}

.component .text-wrapper {
	color: #000000;
	font-family: "Inter-Medium", Helvetica;
	font-size: 14px;
	font-weight: 500;
	left: 10px;
	letter-spacing: 0;
	line-height: 21px;
	position: absolute;
	text-align: center;
	top: 4px;
	white-space: nowrap;
	width: 92px;
}

.component .rectangle {
	height: 26px;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 26px;
}

.component .overlap {
	background-color: #ffffff;
	border: 1px solid;
	border-color: #3b82f6;
	border-radius: 16px;
	height: 160px;
	left: 18px;
	position: absolute;
	top: 48px;
	width: 321px;
}

.component .div {
	color: #000000;
	font-family: "Inter-Regular", Helvetica;
	font-size: 16px;
	font-weight: 400;
	left: 33px;
	letter-spacing: 0;
	line-height: 24px;
	position: absolute;
	text-align: center;
	top: 58px;
}
